
.bgBlueColor {
    background-color: #bfccde;
}

@media screen and (max-width: 576px) {
    .loginContainer {
      width: 100%;
    }
}
@media screen and (min-width: 576px) {
    .loginContainer {
      width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .loginContainer {
      width: 750px;
    }
}
@media screen and (min-width: 992px) {
    .loginContainer {
      width: 970px;
    }
}
@media screen and (min-width: 1200px) {
    .loginContainer {
      width: 1170px;
    }
}
