/* .frm input {
    box-shadow: none!important;
  } */
/* .form-control:focus {
    outline: none!important;
    box-shadow: none;
  } */
.inp:focus{
    border: 1px solid red!important;
    
}
.inp:not(:focus) {
  border: 1px solid #c4c8cb!important;
}